@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,500&family=Roboto&family=Ubuntu:ital,wght@1,300&display=swap');
 :root {
    --themeRed: #e43a47;
    --gray: #efefef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/*navbar css starts here */

.header {
    width: 100%;
    background-color: rgba(155, 137, 137, 0.6);
    position: fixed;
    top: 0;
    z-index: 2222;
    margin: 0px 0px;
    padding: 8px 0px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    margin: 15px 300px;
    top: 0;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin: -10px 10px;
    padding: 10px 10px;
}

.header nav ul li a {
    text-decoration: none;
    color: rgb(233, 227, 227);
}

.header nav ul li a:hover {
    background-color: var(--themeRed);
}


/*navbar css ends here */

.wrapper {
    position: relative;
    max-width: 410px;
    margin-top: 120px;
    width: 100%;
    background: transparent;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper h2 {
    margin: 16px 66px;
    text-align: center;
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

.wrapper h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    /* background: #4070f4; */
}

.wrapper form {
    margin-top: 30px;
}

.wrapper .input-box input {
    text-align: center;
}

.wrapper form .input-box {
    height: 52px;
    margin: 18px 0;
}

.wrapper .policy h3 {
    color: #333;
}

form .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    background-color: transparent;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #4070f4;
}

form .policy {
    display: flex;
    align-items: center;
}

form h3 {
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.input-box.button input {
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #4070f4;
    cursor: pointer;
}

.input-box.button input:hover {
    background: #0e4bf1;
}

form .text h3 {
    color: #333;
    width: 100%;
    text-align: center;
}

form .text h3 a {
    color: #4070f4;
    text-decoration: none;
}

form .text h3 a:hover {
    text-decoration: underline;
}


/*Color changing of placeholders*/

.wrapper .input-box ::placeholder {
    color: white;
    opacity: 1;
}